*{box-sizing: border-box;margin: 0;padding: 0}
/*nav2*/

.navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
}
.navbar-default {
    background-color: white;
    border-color: white;
    margin-bottom: 5px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #2f89fc;
    background-color: white;
}
.navbar-nav {display: inline-block;}
.labell{padding: 23px;
    border-radius: 30px;
    height: 50px;
    line-height: 0px;
    color: white;
    outline: none;
    border: none;
    background-color: #ff8000;
  }

/*nav2*/


/*start fixed section*/
.fixedsection {
    position: relative;
}
.fixedsection .bigcont{
    width:100%;
    height: 300px;
    background-image: url("../imgs/bg_1.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
      
}
.fixedsection .overlay {
    width:100%;
    position: absolute;
    left:0;
    top:0;
    height: 300px;
    background-color:rgba(47, 137, 252,0.6);
    z-index:9999;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    text-align: center;
    position: center center;

}
.fixedsection .overlay a{
    text-decoration: none;
    font-size:15px;
    letter-spacing: 1px;
    color:rgb(230, 230, 230);
    letter-spacing: 1.5px;

}
.fixedsection .overlay h2{
    font-size:47px;
    font-weight: bold;
   
    
}
.fixedsection .overlay  span{
    font-size:15px;
     letter-spacing: 1.5px;
     color:rgb(230, 230, 230);
    
}
/*end fixed section*/


/*start contact -form*/

.form .cont{
    width:100%;
    height: auto;
}
.form .cont .img{
    
    height: 500px;
    background-image: url("../imgs/doc-3.jpg");
    background-size: cover;
}
.form .cont .form-info{
    background: #eeeeee !important;
    height: 500px;
}

.form .cont .form-info input,
.form .cont .form-info textarea{
    width:90%;
    display:block;
    padding:20px;
    margin: 10px auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.form .cont .form-info textarea{
    height: 160px;
}
.form .cont .form-info button{
    width:40%;
    height: 60px;
    margin: 10px auto ;
    margin-left: 27px;
    border-radius: 30px;
    font-size: 15px;
    background-color:#2f89fc ;
    color:white;
    border:0px;

}
.form .cont .form-info button:hover{
    background-color:white ;
    color:#2f89fc ;
    border:1px solid #2f89fc ;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

/*end contact -form*/

/*start Information of contact*/
.Information .cont {
    width:100%;
    height: 200px; 
}
.Information .cont .infoo{
    width:22%;
    height: 130px;
    background-color: #FAFAFA!important;
    margin-top: 15px;
}
.Information .cont h3{
    letter-spacing: 2px;
}
.Information .cont .info1{
    margin-left:43px;
}
.Information .cont .infoo p{
    font-size:15px;
    letter-spacing: 1.5px;
    line-height: 1.5em;
    margin-left:10px;
    margin-top:20px;
    color: rgba(0, 0, 0, 0.6);
    
}
.Information .cont .infoo span{
    color:black;
}

@media(max-width:1199px){
    .Information .cont {
        width:100%;
        height: 518px; 
    }
    .Information .cont .infoo{
        width:70%;
        height: 100px;
        background-color: #FAFAFA!important;
        margin-top: 15px;
        margin-left: 60px;
        border: 1px solid #FAFAFA;
    }
    .Information .cont h3{
        letter-spacing: 2px;
        text-align: center;
        margin-bottom: 40px;
    }
    
    .Information .cont .infoo p{
        font-size:15px;
        letter-spacing: 1.5px;
        line-height: 1.5em;
        margin-left:25px;
        margin-top:20px;
        color: rgba(0, 0, 0, 0.6);
    }
}

/*end Information of contact*/

/*part two*/
.footer{position: relative;padding: 30px;background:#000000eb;color: white;padding-top: 100px;padding-bottom: 150px;top:100px}
.footer h5{font-size: 25px;margin-bottom: 40px;}
.footer .care{padding: 20px;}
.footer .care h5{color: #2F89FC}
.footer .care h5 span{color:#FE8001}
.footer .care p{color: #ffffffa3;margin-bottom: 40px;}
.footer .care h4{margin-bottom: 30px}
.blog .blog1 img{width: 32%;float: left;margin-right: 4%;}
.blog .blog1 p{color: #ffffffa3}
.blog .Info{width: 60%;float: left;margin-bottom:30px}
.blog .Info span{color: #ffffffa3}
.footer .links{padding: 20px;}
.links ul{list-style-type: none;color: #ffffffa3 }
.links ul li{margin-bottom:5px;cursor: pointer;}
.hours{padding-left:30px}
.hours h6{margin-bottom: 35px;}
.hours input{text-indent:10%;width: 90%;height: 10%;outline: none;background: rgba(255, 255, 255, 0.1);border: none;margin-bottom: 10px;color: white}
.hours input::placeholder{text-indent:20%;color: white}
.hours button{width: 90%;height: 10%;outline: none;background:#2F89FC;border: none;color:white;transition: 1s}
.hours button:hover{background: #FE8001;}
@media only screen and (max-width: 600px) {
  .hours input ,.hours button{height:20%}
}